<div class="col-md-3">
    <h2><a ng-href="#"><i class="fa fa-arrow-left"></i></a> {{vm.organisation.name}}</h2>
    <form>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="text" id="name" name="name" placeholder="Search..." ng-model="searchText" />
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </form>
    
    <div>
        <address>
            <strong>{{vm.organisation.name}} - {{vm.organisation.businessSector}}</strong><br>
            {{vm.organisation.contactInfo.streetAddress}}<br>
            {{vm.organisation.contactInfo.city}},<br>
            {{vm.organisation.contactInfo.postCode}}<br>
            <abbr title="Phone">P:</abbr> <a ng-href="tel:{{vm.organisation.contactInfo.telephoneNumber}}">{{vm.organisation.contactInfo.telephoneNumber}}</a>
        </address>
    </div>
            <a ng-href="#!{{'/editor/' + vm.organisationId}}" class="btn btn-sm btn-block btn-default">Edit</a>
            <a ng-href="#!{{'/editor/' + vm.organisationId + '/new'}}" class="btn btn-sm btn-block btn-primary">Add New Person</a>
</div>

<div class="col-md-9">
    <table class="table table-responsive table-striped">
        <tr>
            <th>Person</th>
            <th>Job Title</th>
            <th>Telephone Number</th>
            <th></th>
        </tr>
        <tr ng-repeat="person in vm.organisation.persons | filter:searchText">
            <td>{{person.firstname + " " + person.surname}}</td>
            <td>{{person.jobTitle}}</td>
            <td>{{person.contactInfo.telephoneNumber}}</td>
            <td><a ng-href="#!{{'/manager/' + vm.organisationId + '/' + person.id}}" class="btn btn-sm btn-primary">Manage</a></td>
        </tr>
    </table>
</div>
