@using AddressBook.Models
@model IEnumerable<AddressBook.Models.Organisation>

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-organisations.js"></script>
    <script src="~/js/organisationsController.js"></script>
    <script src="~/js/organisationEditorController.js"></script>
    <script src="~/js/personEditorController.js"></script>
}

<div class="row" ng-app="app-organisations">

    <div ng-view></div>

</div>

